.btn {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed';
  padding: .563rem;
  border: 0;
  border-radius: 2px;
  color: white;
  line-height: 1;
  cursor: pointer;

  background-color: $green;

  &:hover {
    background-color: lighten($green, 10%);
  }

  &.-small {
    font-size: 0.75rem;
  }

  &.-large {
    font-size: 1.125rem;
  }

  &.-text {
    background-color: transparent;
  }

  &.-icon {
    width: 2rem;
    height: 2rem;
    text-align: center;
  }

  &.-red {
    background-color: $red;

    &.-text {
      color: $red;
    }

    &:hover {
      background-color: lighten($red, 10%);

      &.-text {
        background: 0;
        color: lighten($red, 10%);
      }
    }
  }

  &.-blue {
    background-color: $blue;

    &.-text {
      color: $blue;
    }

    &:hover {
      background-color: lighten($blue, 10%);

      &.-text {
        background: 0;
        color: lighten($blue, 10%);
      }
    }
  }

  &.-dark {
    background-color: lighten($dark, 5%);

    &:hover {
      background-color: $dark;

      &.-text {
        background: 0;
        color: lighten($dark, 10%);
      }
    }
  }
}

a {
  color: currentColor;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
    color: currentColor;
  }
}
