.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 10;

  .dialog-content {
    min-width: 320px;
    max-width: 500px;
    max-height: 80vh;
    font-size: 16px;
    border: 1px solid lighten($dark, 25%);
    border-radius: $border-radius-base;
    background-color: lighten($dark, 15%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    color: white;
    overflow: hidden;

    .dialog-body {
      font-size: 14px;
      overflow: auto;
      max-height: 60vh;
      padding: 1rem;
    }

    header {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid lighten($dark, 20%);
      cursor: grab;

      .checkbox-control > input:not(:checked) + div {
        background: 0;
      }
    }

    .title {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      letter-spacing: 1px;
      font-size: 1.125em;
      line-height: 1;
      margin-top: 0.42rem;
      font-family: 'Barlow Semi Condensed';
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .subtitle {
      display: block;
      margin-top: 0.25rem;
      font-size: 80%;
      opacity: 0.75;
    }

    textarea {
      max-width: 100%;
    }

    p,
    .el-button {
      font-size: inherit;
    }

    p {
      white-space: pre-wrap;
    }

    .el-button {
      flex: 1;
      border: 0;
      color: #409eff;
      appearance: none;
    }

    footer {
      display: flex;
      margin-top: 24px;
      align-items: center;
      justify-content: flex-end;

      .btn {
        margin-left: 0.4rem;
      }
    }
  }

  &.-small .dialog-content {
    max-width: 320px;
  }

  &.-large .dialog-content {
    max-width: calc(100% - 2rem);
  }

  .form-control {
    margin: 0;
    color: white;
    border: 1px solid lighten($dark, 20%);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: (1rem/3);
    box-sizing: border-box;
    font-family: monospace;
    width: 100%;
    letter-spacing: 0;
  }

  .dialog-controls {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    &__close {
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 1.65rem;
      padding: 0.75rem 0.75rem;
      margin: -0.75rem -1rem;

      &:hover {
        background-color: rgba(white, 0.02);
      }

      &:active {
        background-color: rgba(black, 0.1);
      }

      > i {
        vertical-align: middle;
      }
    }

    > * {
      margin-left: 15px;
    }
  }

  hr {
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background: lighten($dark, 20%);

    &.-across {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
}
