html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  height: 100%;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.mt0 {
  margin-top: 0;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt8 {
  margin-top: 8px;
}

.mb8 {
  margin-bottom: 8px;
}

.mr8 {
  margin-right: 8px;
}

.mr15 {
  margin-right: 15px;
}

.ml8 {
  margin-left: 8px;
}

.ml15 {
  margin-left: 15px;
}

.mr4 {
  margin-right: 4px;
}

.ml4 {
  margin-right: 4px;
}

.flex-right {
  justify-content: flex-end;
}

.flex-left {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-top {
  align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-middle {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 0.618rem;
}

.text-large {
  font-size: 1.125rem;
}

.text-nowrap {
  white-space: nowrap;
}

.condensed {
  font-family: 'Barlow Semi Condensed';
}

.text-lowercase {
  text-transform: lowercase;
}

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: lighten($dark, 15%);
}

/* Track */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(black, 0.25);
}
