$green: #43a047;
$red: #f44336;
$blue: #2196f3;
$orange: #fbc02d;
$dark: #171b29;
$pink: #e91e63;
$purple: #3e2161;

$ease-out-expo: cubic-bezier(0.005, 1, 0.22, 1);
$ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
$ease-elastic: cubic-bezier(0, 1.4, 1, 1);

$shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$border-radius-base: 8px;
$accent: rgba(#708090, 0.5);
$checkerboard: linear-gradient(45deg, $accent 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $accent 75%),
  linear-gradient(-45deg, $accent 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, $accent 75%);

$icon-bitcoin: '\e900';
$icon-btc: '\e901';
$icon-dollar: '\e902';
$icon-euro: '\e905';
$icon-monero: '\e907';
$icon-pound: '\e908';
$icon-yen: '\e90c';
$icon-neo: '\e92f';
$icon-ltc: '\e930';
$icon-trx: '\e92e';
$icon-xmr: '\e931';
$icon-xrp: '\e92c';
$icon-eth: '\e904';
$icon-down: '\e903';
$icon-up: '\e90a';
$icon-check: '\e90e';
$icon-cross: '\e918';
$icon-plus: '\e920';
$icon-power-on: '\e91d';
$icon-power-off: '\e924';
$icon-cog: '\e90d';
$icon-expand: '\e909';
$icon-volume-off: '\e906';
$icon-volume-low: '\e910';
$icon-volume-medium: '\e911';
$icon-volume-high: '\e925';
$icon-warning: '\e90b';
$icon-info: '\e912';
$icon-edit: '\e91f';
$icon-trash: '\e93d';
$icon-dropper: '\e93a';
$icon-copy: '\e93e';
$icon-coins: '\e90f';
$icon-external-link-square-alt: '\e915';
$icon-balance: '\e919';
$icon-magic: '\e91a';
$icon-tomb: '\e91e';
$icon-visible: '\e922';
$icon-hidden: '\e923';
$icon-ada: '\e92d';
$icon-iota: '\e932';
$icon-eos: '\e933';
$icon-slippery: '\e934';
$icon-bps: '\e935';
$icon-ms: '\e936';
$icon-pile: '\e937';
$icon-search: '\e939';

$exchanges: BITMEX BINANCE BINANCE_FUTURES BITFINEX OKEX HUOBI BITSTAMP COINBASE HITBTC POLONIEX LIQUID COINEX KRAKEN DERIBIT BYBIT FTX;

@function unicode($str) {
  @return unquote('"') + $str + unquote('"');
}
